In [ ]:
import pandas as pd
import numpy as np

In [20]:
# df = pd.read_csv('./apple_clean_label.csv')
df = pd.read_csv('./apple_label_none.csv')

In [38]:
same_label = pd.read_csv('./apple_same_label.csv', header=0, names=['paragraph', 'esg_label', 'count_label', 'result'])

In [39]:
same_label

,paragraph,esg_label,count_label,result
0,3letterfromtimcook4 report highlights 6ourappr...,10,10,10
1,37ourapproach40 labor and human rights in the ...,11,11,11
2,70 corporate governance 71ethicsandcompliance7...,0,0,0
3,leadership roles include managers at all level...,8,8,8
4,in fiscal year 2021 our environmental initiati...,25,25,25
...,...,...,...,...
187,benefit from specialized attention are reserve...,10,10,10
188,apple is committed to conducting business ethi...,0,0,0
189,apples chief compliance officer provides regul...,12,12,12
190,our employees are required to speak up about a...,12,12,12
191,the audit and finance committee of the board o...,12,12,12

In [ ]:
for index, row in df.iterrows():
    # if row['result'] == 'esg-bert' or row['result'] == '1':
    #     df.at[index, 'result'] = row['esg_label']
    # elif row['result'] == 'count' or row['result'] == '2':
    #     df.at[index, 'result'] = row['count_label']
    # elif row['result'] == 'none' or row['result'] == '3':
    #     df.at[index, 'result'] = np.nan
    if row['result'].dtype() == 'str':
        continue
    elif row['result'].astype(str) == '':
        df.at[index, 'result'] = 'none'
    # elif np.isnan(row['result']) or row['result'].isna():
    #     df.at[index, 'result'] = 'none'

In [18]:
na_rows = df[df['result'].isna()]

In [19]:
na_rows

,paragraph,esg_label,count_label,result
413,apple has also been repeatedly honored for our...,Employee_Engagement_Inclusion_And_Diversity,count_label,NaN

In [7]:
df

,paragraph,esg_label,count_label,result
0,13ourapproach13 climate change 18resources20 s...,Physical_Impacts_Of_Climate_Change,Waste_And_Hazardous_Materials_Management,26.0
1,23ourapproach23 inclusion and diversity 26 gro...,Employee_Engagement_Inclusion_And_Diversity,Labor_Practices,26.0
2,48ourapproach48privacy50 accessibility 52 incl...,Access_And_Affordability,Customer_Welfare,26.0
3,59ourapproach60 racial equity and justice init...,Employee_Engagement_Inclusion_And_Diversity,Customer_Welfare,26.0
4,74awardsandrecognition75 united nations sustai...,Business_Model_Resilience,Employee_Engagement_Inclusion_And_Diversity,26.0
...,...,...,...,...
616,apple does not make political contributions to...,Management_Of_Legal_And_Regulatory_Framework,none,12.0
617,our employees can contact apples business cond...,Customer_Privacy,none,26.0
618,form apples third party reporting service ethi...,Business ethics,Customer_Welfare,0.0
619,business conduct partners with appropriate tea...,Business ethics,none,0.0
620,taxes play a necessary and important role in o...,Management_Of_Legal_And_Regulatory_Framework,Business ethics,12.0

In [21]:
lda = {
    'Business ethics': 0,
    'Data security': 1,
    'Access_And_Affordability': 2,
    'Business_Model_Resilience': 3,
    'Competitive_Behavior': 4,
    'Critical_Incident_Risk_Management': 5,
    'Customer_Welfare': 6,
    'Director_Removal': 7,
    'Employee_Engagement_Inclusion_And_Diversity': 8,
    'Employee_Health_And_Safety': 9,
    'Human_Rights_And_Community_Relations': 10,
    'Labor_Practices': 11,
    'Management_Of_Legal_And_Regulatory_Framework': 12,
    'Physical_Impacts_Of_Climate_Change': 13,
    'Product_Quality_And_Safety': 14,
    'Product_Design_And_Lifecycle_Management': 15,
    'Selling_Practices_And_Product_Labeling': 16,
    'Supply_Chain_Management': 17,
    'Systemic_Risk_Management': 18,
    'Waste_And_Hazardous_Materials_Management': 19,
    'Water_And_Wastewater_Management': 20,
    'Air_Quality': 21,
    'Customer_Privacy': 22,
    'Ecological_Impacts': 23,
    'Energy_Management': 24,
    'GHG_Emissions': 25,
    'none': 26
}

In [44]:
df['count_label'] = df['count_label'].map(lda)
df = df.astype({'result': 'int32'})

In [27]:
df.to_csv('apple_different.csv', index=False)

In [45]:
df

,paragraph,esg_label,count_label,result
0,13ourapproach13 climate change 18resources20 s...,13,19,26
1,23ourapproach23 inclusion and diversity 26 gro...,8,11,26
2,48ourapproach48privacy50 accessibility 52 incl...,2,6,26
3,59ourapproach60 racial equity and justice init...,8,6,26
4,74awardsandrecognition75 united nations sustai...,3,8,26
...,...,...,...,...
616,apple does not make political contributions to...,12,26,12
617,our employees can contact apples business cond...,22,26,26
618,form apples third party reporting service ethi...,0,6,0
619,business conduct partners with appropriate tea...,0,26,0
620,taxes play a necessary and important role in o...,12,0,12

In [46]:
concatenated_df = pd.concat([df, same_label])

In [47]:
concatenated_df

,paragraph,esg_label,count_label,result
0,13ourapproach13 climate change 18resources20 s...,13,19,26
1,23ourapproach23 inclusion and diversity 26 gro...,8,11,26
2,48ourapproach48privacy50 accessibility 52 incl...,2,6,26
3,59ourapproach60 racial equity and justice init...,8,6,26
4,74awardsandrecognition75 united nations sustai...,3,8,26
...,...,...,...,...
187,benefit from specialized attention are reserve...,10,10,10
188,apple is committed to conducting business ethi...,0,0,0
189,apples chief compliance officer provides regul...,12,12,12
190,our employees are required to speak up about a...,12,12,12
191,the audit and finance committee of the board o...,12,12,12

In [32]:
concatenated_df.drop(columns=['predict_label', 'count'])

,paragraph,esg_label,count_label,result
0,13ourapproach13 climate change 18resources20 s...,Physical_Impacts_Of_Climate_Change,Waste_And_Hazardous_Materials_Management,26
1,23ourapproach23 inclusion and diversity 26 gro...,Employee_Engagement_Inclusion_And_Diversity,Labor_Practices,26
2,48ourapproach48privacy50 accessibility 52 incl...,Access_And_Affordability,Customer_Welfare,26
3,59ourapproach60 racial equity and justice init...,Employee_Engagement_Inclusion_And_Diversity,Customer_Welfare,26
4,74awardsandrecognition75 united nations sustai...,Business_Model_Resilience,Employee_Engagement_Inclusion_And_Diversity,26
...,...,...,...,...
187,benefit from specialized attention are reserve...,NaN,NaN,10
188,apple is committed to conducting business ethi...,NaN,NaN,0
189,apples chief compliance officer provides regul...,NaN,NaN,12
190,our employees are required to speak up about a...,NaN,NaN,12
191,the audit and finance committee of the board o...,NaN,NaN,12

In [48]:
concatenated_df.to_csv('apple_concate_withoutNA.csv', index=False)

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.path as path
import csv
import os
from math import pi
# Set the number of angles and the values for each angle
from readcsv import readcsv
# number of variable
N = 26
categories = ['Business_Ethics:0', 'Data_Security:1', 'Access_And_Affordability:2', 'Business_Model_Resilience:3',
              'Competitive_Behavior:4', 'Critical_Incident_Risk_Management:5', 'Customer_Welfare:6',
              'Director_Removal:7', 'Employee_Engagement_Inclusion_And_Diversity:8', 'Employee_Health_And_Safety:9',
              'Human_Rights_And_Community_Relations:10', 'Labor_Practices:11', 'Management_Of_Legal_And_Regulatory_Framework:12',
              'Physical_Impacts_Of_Climate_Change:13', 'Product_Quality_And_Safety:14', 'Product_Design_And_Lifecycle_Management:15',
              'Selling_Practices_And_Product_Labeling:16', 'Supply_Chain_Management:17', 'Systemic_Risk_Management:18',
              'Waste_And_Hazardous_Materials_Management:19', 'Water_And_Wastewater_Management:20', 'Air_Quality:21',
              'Customer_Privacy:22', 'Ecological_Impacts:23', 'Energy_Management:24', 'GHG_Emissions:25'
              ]
# We are going to plot the first line of the data frame.
# But we need to repeat the first value to close the circular graph:
#   -------draw background
def initfig():
    plt.figure(figsize=(1400 / 96, 1080 / 96), dpi=96)
    # What will be the angle of each axis in the plot? (we divide the plot / number of variable)
    angles = [n / float(N) * 2 * pi for n in range(N)]
    angles += angles[:1]

    # Initialise the spider plot
    ax = plt.subplot(111, polar=True)
    #   set the plt start at top and turn clockwise
    ax.set_theta_offset(pi / 2)
    ax.set_theta_direction(direction='clockwise')
    # Draw one axe per variable + add labels
    plt.xticks(angles[:-1], categories, color='grey', size=8)
    #   set the x label position to not collision
    rstep = int(ax.get_theta_direction())
    if rstep > 0:
        rmin = 0
        rmax = len(angles)
    else:
        rmin = len(angles) - 1
        rmax = -1

    for label, i in zip(ax.get_xticklabels(), range(rmin, rmax, rstep)):
        angle_rad = angles[i] + ax.get_theta_offset()
        if angle_rad <= pi / 2:
            ha = 'left'
            va = "bottom"
        elif pi / 2 < angle_rad <= pi:
            ha = 'right'
            va = "bottom"
        elif pi < angle_rad <= (3 * pi / 2):
            ha = 'right'
            va = "top"
        else:
            ha = 'left'
            va = "top"
        label.set_verticalalignment(va)
        label.set_horizontalalignment(ha)
    #
    # plt.thetagrids(angles[:-1], labels=categories, fontsize=8, rotation=2 * pi / float(N))
    # Draw ylabels
    ax.set_rlabel_position(0)
    plt.yticks([20, 40, 60, 80], ["20", "40", "60", "80"], color="grey", size=7)
    plt.ylim(0, 100)
    # plt.yticks([10, 20, 30], ["10", "20", "30"], color="grey", size=7)
    # plt.ylim(0, 40)
    return ax, angles
# ---------choose directory
# Plot data
word_cnts = ['eight', 'five']
nations = ['american', 'taiwan']
png_type = 'full 25 company compare'
# png_type = 'company vs. average'
# png_type = 'average'
# png_type = 'testpercentage'
#   ------choose figure
def draw_full25(read_directory):
    filenames = os.listdir(read_directory)
    plt.close()
    ax, angles = initfig()
    for filename in filenames:
        values = readcsv(f'{read_directory}', filename)
        values += values[:1]
        ax.plot(angles, values, linewidth=1, linestyle='solid')
        ax.fill(angles, values, 'b', alpha=0.1)
    plt.suptitle(f'{nation}_{word_cnt} {png_type}', fontsize=30)
    plt.savefig(f'./png/{png_directory}/{png_type}.png', format='png', dpi=96)
def get_average(read_directory):
    # plt.close()
    # ax, angles = initfig()
    average = [0] * N
    filenames = os.listdir(read_directory)
    company_values = []
    for filename in filenames:
        values = readcsv(f'{read_directory}', filename)
        values += values[:1]
        company_values.append(values)
        #   each 26 labels add to average[0] ~ average[26]
        for i in range(N):
            average[i] += values[i]
    for i in range(N):
        average[i] /= len(filenames)
    average += average[:1]
    ax.plot(angles, average, linewidth=1, linestyle='solid', label='average')
    ax.fill(angles, average, 'b', alpha=0.1)
    # plt.suptitle(f'{nation}_{word_cnt} {png_type}', fontsize=30)
    # plt.savefig(f'./png/{png_directory}/{png_type}.png', format='png', dpi=96)
    return average
def draw_company_average(read_directory):
    filenames = os.listdir(read_directory)
    for filename in filenames:
        plt.close()
        ax, angles = initfig()
        average = get_average(read_directory)
        ax.plot(angles, average, linewidth=1, linestyle='solid', label='average')
        ax.fill(angles, average, 'b', alpha=0.1)
        values = readcsv(f'{read_directory}', filename)
        values += values[:1]
        filename = filename.strip('.csv')
        ax.plot(angles, values, linewidth=1, linestyle='solid', label=f'{filename}')
        ax.fill(angles, values, 'b', alpha=0.1)
        plt.suptitle(f'{nation}_{word_cnt} {filename} {png_type}', fontsize=30)
        plt.legend(loc='center right', bbox_to_anchor=(0.1, 1.0), fontsize='20')
        plt.savefig(f'./png/{png_directory}/{filename}_{png_type}.png', format='png', dpi=96)

# for word_cnt in word_cnts:
#     for nation in nations:
#         read_directory = f'./predict_{nation}_{word_cnt}/'
#         png_directory = f'./{nation}/{word_cnt}'
#         filenames = os.listdir(read_directory)
#         #   choose picture to draw
#         # get_average(read_directory)
#         draw_full25(read_directory)
#         # draw_company_average(read_directory)

#   ------test
ax, angles = initfig()
# ex = [90,80,85,90,95,80,90,70,80,85,94,74,60,90,80,91,50,80,80,100,50,70,80,75,89,90,90]
# ax.plot(angles, ex, linewidth=1, linestyle='solid', label='average')
# ax.fill(angles, ex, 'b', alpha=0.1)
# plt.suptitle(f'Ideal', fontsize=30)
# plt.show()
# word_cnt = 'eight'
word_cnt = 'five'
# nation = 'american'
nation = 'taiwan'
read_directory = f'./predict_{nation}_{word_cnt}/'
png_directory = f'{nation}/{word_cnt}'
# # # # draw_full25(read_directory)
# draw_company_average(read_directory)
get_average(read_directory)
nation = 'american'
read_directory = f'./predict_{nation}_{word_cnt}/'
get_average(read_directory)
#   ------plot
# plt.suptitle(f'{nation}_{word_cnt} {png_type}', fontsize=8)
plt.savefig(f'./png/{png_directory}/american vs taiwan.png', format='png', dpi=96)
plt.show()